<!DOCTYPE html>
<html>
<head>


<style>
#varaus {font-size: smaller;}
</style>

</head>

<body>

  <p>
    {% for day in weekdays %}
      <a href="/varaus?date={% print(day.pvm) %}&viikonpaiva={% print (day.suomenna()) %}&muokataan=False">{% print(day.suomenna()) %}</a>
      {% print(day.pvm.strftime("%d.%m")) %}
      {% for var in varaukset %}
        {% if day.pvm.strftime("%d.%m") == var.aloitus.strftime("%d.%m") %}
          <br>
          <span id="varaus">{% print(var.aloitus.strftime("%H:%M") + "-" + var.lopetus.strftime("%H:%M") + " ") %} 
              <i>{% print(var.varaaja) %}</i>
              <a href="/varaus?date={% print(day.pvm) %}&viikonpaiva={% print(day.suomenna()) %}&aloitus={% print(var.aloitus.strftime("%H:%M"))%}&lopetus={% print(var.lopetus.strftime("%H:%M"))%}&muokataan=True&varaaja={%print(var.varaaja)%}">muokkaa</a>
            <a href="/poista?date={% print(day.pvm) %}&viikonpaiva={% print(day.suomenna()) %}&aloitus={% print(var.aloitus.strftime("%H:%M"))%}&lopetus={% print(var.lopetus.strftime("%H:%M"))%}&muokataan=True&varaaja={%print(var.varaaja)%}">poista</a>
              </span>
          {% endif %}
        {% endfor %}
      <br>
      {% endfor %}
  </p>

</body>
</html>
