<!DOCTYPE html>
<html>
<head>

</head>
<body>

<h1>{% print(viikonpv + ' ' + pvm) %}</h1>

{% if varausvirhe == True %}
    <h2><font color="red">Valitsemasi lopetusaika on myöhemmin tai samaan aikaan kuin varauksen aloitus.</font></h2>
    {% endif %}

{% if varattuJo == True %}
    <h2><font color="red">Haluamallesi ajalle oli jo varaus.</font></h2>
    {% endif %}

{% if muokataan == True %}
    <form name="kalenteri" action="/?pvm={% print(pvm + "&viikonpv=" + viikonpv + "&muokataan=True") %}" method="post">

{% else %}
    <form name="kalenteri" action="/?pvm={% print(pvm + "&viikonpv=" + viikonpv + "&muokataan=False") %}" method="post">
    {% endif %}

    {% if (muokataan == True or varausvirhe == True or varattuJo == True) %}
      <input type="text" id="varaaja" name="varaaja" value="{%print(varaaja)%}">
    {% else %}
      <input type="text" id="varaaja" name="varaaja" value="nimetön">
    {% endif %}

     {% if muokataan == True %}
        <input type="hidden" id="vanhaAloitus" name="vanhaAloitus" value="{%print(aloitus)%}">
        <input type="hidden" id="vanhaLopetus" name="vanhaLopetus" value="{%print(lopetus)%}">
        {% endif %}

     <input type="time" id="aloitus" name="aloitus" value="{% print(aloitus) %}"> -
     <input type="time" id="lopetus" name="lopetus" value="{% print(lopetus) %}">

     <input type=submit name="send" value="lähetä">
</form>

</body>
</html>
